@page "/"

<h3>Home</h3>

@code {
    [Inject]
    NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    BlazorJSRuntime JS { get; set; } = default!;

    protected override void OnInitialized()
    {

    }
}
