<span class="material-icons @Class" style="@Style">@Icon</span>
@code {

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string Style { get; set; } = "";

    [Parameter]
    public string Icon { get; set; }
}
